img {
  border: 2px black solid;
}

.title {
  color: black;
  font-size: 36px;
  font-weight: 700px;
  text-decoration: underline;
}

.recipe {
  width: 120px;
  box-sizing: border-box;
  background-color: beige;
  margin: 4px;
  border: 3px rgb(250, 175, 175) solid;
}

.description, .ingredients, .directions {
  text-decoration: underline;
}